a {
    text-decoration: none;
    color: white;
}

.piu {
    position: relative;
    width: 100%;
    background-color: #36404A;
    color: white;
    border-radius: 8px;
    margin-bottom: 35px;

    box-shadow: 1px 1px 45px rgba(0, 0, 0, 0.05);
}

.piuHeader {
    height: 70px;
    display: flex;
    border-bottom: 4px solid #323B44;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.userImgInPiu {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    margin-right: 10px;
    background-position: center center; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePicture{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.userInfoName {
    font-weight: bold;
}

.userInfoUserName {
    color: #CDCDCE;
    margin-top: 5px;
}

.piuInfo {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #CDCDCE;
}

.moreInfoPiu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border: 0;
    border-radius: 45px;
    background: #323B44;
    transition: 0.2s;
}

.moreInfoPiu:hover {
    background-color: #3BAFDA;
}

.piuContent {
    width: 90.3%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.piuText {
    width: 100%;
    background-color: #323B44;
    height: 90%;
    padding: 10px;
    border-radius: 8px;
    word-wrap: break-word 
}

.piuButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    background-color: #323B44;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
    text-decoration: none;
}

.likeDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likeIcon {
    width: 20px;
    color: white;
}

.likeText {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#deleteButton {
    padding: 8px 10px;
}

.deleteText {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.deleteIcon{
    width: 16px;
    color: white;
}

#deslikeButton{
    opacity: 0.98;
    background-color: #3BAFDA;
}

.piuButtons:hover {
    opacity: 0.98;
    background-color: #3BAFDA;
    cursor: pointer;
}

.piuHourInfo {
    color: #CDCDCE;
    flex-grow: 0.8;
}

@media screen and (max-width: 790px) {
    .piuButtons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100px;
    
        transition: 0.3s;
    }
}

.liked {
    background-color: #3BAFDA;
}

.infoDiv {
    width: 150px;
    border: solid 1px #36404A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #3C4650;
    padding: 3px;

    box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.1);

    z-index: 99;
    position: absolute;
    right: 39px;
    top: 33px;
}

.editRow {
    padding: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    cursor: pointer;
}

.editRow:hover {
    background-color: #36404A;
}

.delRow {    
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: rgb(255, 72, 72);
}

.delRow:hover {
    background-color: #36404A;
}

.infoRow:hover {
    display: show;
}

.editInput {
    border: 0;
    background-color: #323B44;
    color: white;
    padding: 10px;

    width: 100%;
}

.editButton {
    background-color: #3BAFDA;
    border: 0;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
}

.lowOpacity {
    opacity: 0.3;
}