.content {
    width: 95%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.userInfos {
    display: flex;
    justify-content: space-between;
    background-color: #36404A;
    border-radius: 8px;
}

.profileLeftInfos {
    padding: 60px;
    width: 300px;
}

.userInfosContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profileContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    color: white;
}

.username {
    font-weight: bold;
}

.profileRightInfos {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoBox {
    padding: 25px;
    padding-bottom: 10px;
    background-color: #323B44;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.boxNumber {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profileImage {
    height: 80%;
}

.profilePic{
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
}

.avatarContainer {
    position: relative;
    flex-grow: 3;
}
.avatar {
    height: 100%;
    max-width: 250px;
    width: 100%;
}

.editAvatarContainer {
    height: 15%;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.editImage {
    height: 100%;
}

.editIconAvatar {
    content: '';
    height: 30px;
    width: 30px;
    background: url('../../../usuarios/img/Icons/editButton.svg');
    border: 0;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.editIconAvatar::-webkit-file-upload-button {
    visibility: hidden;
}

@media screen and (max-width: 790px) {
    .userInfos {
        display: flex;
        flex-direction: column;
    }

    .profileLeftInfos {
        border-bottom : #323B44 5px solid;
    }

    .userInfosContainer {
        display: flex;
    }

    .avatarContainer {
        margin-bottom: 40px;
    }

    .profileContent {
        height: 150px;
    }

    .avatar {
        height: 150px;
    }

    .editAvatarContainer {
        top: 0px;
        right: 80px;
    }
}