{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>PiuPiuwer</title>
    <!-- <link rel="shortcut icon" href="../../assets/Icons/miniPiu.svg"> -->
    <link rel="stylesheet" href="{% static 'usuarios/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'perfil/css/perfil/searchBar.css' %}">
    <link rel="stylesheet" href="{% static 'perfil/css/perfil/styles.css' %}">
    <link rel="stylesheet" href="{% static 'perfil/css/perfil/piuStyle.css' %}">
    <link rel="stylesheet" href="{% static 'perfil/css/perfil/content.css' %}">
    <link rel="stylesheet" href="{% static 'perfil/css/perfil/yourPius.css' %}">
    <link rel="stylesheet" href="{% static 'perfil/css/editprofile/editprofile.css' %}">
</head>

<body>
    <div class='wrap'>
        <header class='pageHeader'>
            <a href="{% url 'feed' %}" class='logo'>
                <img src="{% static 'usuarios/img/logoReta.svg' %}" alt="PiuPiuwer" class='logo'>
            </a>
            <div class='searchBox'>
                <div class='searchBoxContainer'>
                    <input class='searchBar' type="text" placeholder="Pesquisar usuários...">
                    <img src="{% static 'usuarios/img/Icons/searchIcon.svg' %}" alt="button" class='searchButton'>
                </div>
            </div>
        </header>

        <div expand class='searchedUsers'></div>

        <div class='menuBar'>
            <div class='bemVindoNome'>Olá <strong id='user-name'>{{user.name}}</strong>,</div>
            <div class='leftInfos'>
                <a class='explore' href="{% url 'feed' %}">Explorar</a>
                <div class='logout'>
                    <a href="{% url 'logout' %}">
                        <img src="{% static 'usuarios/img/Icons/logout.svg' %}" alt="" class='logoutImg'>
                    </a>
                </div>
            </div>
        </div>

        <div class="content">
            <h1>Atualizar informações do perfil</h1>
            <form method="POST"  enctype="multipart/form-data">
                {% csrf_token %}

                {% if form.errors %}
                <p class="errorP">Username já existe!</p>
                {% endif %}

                <div class='labels'>
                    <label>Nome</label>
                    <div>{{ form.name }}</div>
                </div>
                <div class='labels'>
                    <label>Email</label>
                    {{ form.email }}
                </div>
                <div class='picture'>
                    <label>Foto de Perfil</br></br></label>
                    {{ form.picture }}
                </div>
                </br></br>
                <div class='isOpened'>
                    <label>Permitir acesso público</label>
                    {{ form.isOpened }}
                </div>
                <div>
                    <label>Foto de perfil</label>
                    {{ form.picture }}
                </div>
                <button type="Submit" class='btnSendPiu'>Enviar</button>
            </form>
            <a href="{% url 'change_password' %}" class='changePasswordButton'>
                <button class='btnSendPiu'>Editar Senha</button>
            </a></br>
        </div>
    </div>

    <!-- <script src='../../services/api.js'></script>
    <script src='./createPiu.js'></script>
    <script src='./searchBar.js'></script>
    <script src='./insertMyPius.js'></script>
    <script src='./script.js'></script> -->
</body>

</html>