{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'usuarios/css/Register/styles.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/ResetPassword/confirmation.css' %}">
    <title>PiuPiuwer</title>
</head>

<body>
    <div class='register-container'>
        <div class="content">
            <section class='form'>
                <img class="logo" src="{% static 'usuarios/img/logoImg.png' %}" alt="Piu Logo">

                <div>
                    <h1>Recuperação de Senha!</h1>

                    <p>Insira seu email e depois dê uma conferida nele!</p>

                    <a href="{% url 'login' %}">
                        <img src="{% static 'usuarios/img/Icons/back.svg' %}" alt="">
                        Fazer login
                    </a>

                </div>
            </section>

            <div class='confirmation'>
                <h4 class='titleConfirmation'>Email enviado!</h4>
                <p class='descriptionConfirmation'>Confira seu email para seguir com a mudança da senha!</p>
            </div>
        </div>

        <script src="{% static 'usuarios/js/Register/script.js' %}"></script>
    </div>
</body>

</html>